@model Registerloginpage.Models.ChangePassword

@{
    ViewData["Title"] = "Changepassword";
}

<h1>Changepassword</h1>

<h4>ChangePassword</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Changepassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="currentpassword" class="control-label"></label>
                <input asp-for="currentpassword" class="form-control" />
                <span asp-validation-for="currentpassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Newpassword" class="control-label"></label>
                <input asp-for="Newpassword" class="form-control" />
                <span asp-validation-for="Newpassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmNewpassword" class="control-label"></label>
                <input asp-for="ConfirmNewpassword" class="form-control" />
                <span asp-validation-for="ConfirmNewpassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
